.bg-1 { background-color: #FFF;}
.bg-2 { background-color: #dddee0;}
.color-1{color: #ef1c22;}
.color-2{color: #202022;}
.title-1{
	font-weight:;
	font-size:;
}
.title-2{
	font-weight:;
	font-size:;
}
.paragraph-1 {
		
}